## Pandas Í≥ºÏ†ú

Tabular dataÏùò Í≤ΩÏö∞ Î™®Îç∏ÏùÑ ÎèåÎ¶¨Í∏∞Ïóê ÏïûÏÑúÏÑú pandasÎ•º ÌÜµÌïú Ï†ÑÏ≤òÎ¶¨Í∞Ä ÎßéÏù¥ ÌïÑÏöîÌï©ÎãàÎã§.

Îã§Ïùå Í≥ºÏ†úÏóêÏÑúÎäî ÌåêÎã§Ïä§ÏóêÏÑú Í∞ÄÏû• ÏûêÏ£º Ïì∞Ïù¥Îäî Ìï®ÏàòÎì§ÏùÑ Îã§Î£πÎãàÎã§.

Íµ¨Í∏ÄÏóê Ïò¨ÎùºÏôÄ ÏûàÎäî ÌåêÎã§Ïä§ Ïó∞ÏäµÎ¨∏Ï†ú 200Ï†ú Ï§ë Ï§ëÎ≥µÎêòÎäî Í≤É, Î∂àÌïÑÏöîÌïòÎã§Í≥† ÏÉùÍ∞ÅÎêòÎäî Í≤ÉÏùÑ Ï†úÏô∏ÌïòÏó¨ Í≥ºÏ†úÎ•º ÎßåÎì§Í≤å ÎêòÏóàÏäµÎãàÎã§.

ÎÑòÌååÏù¥ Í¥ÄÎ†® Î¨∏Ï†úÎì§ÎèÑ ÏûàÏóàÏßÄÎßå ÌåêÎã§Ïä§Î°úÎßå Í≥ºÏ†úÎ•º Íµ¨ÏÑ±ÌïòÍ≤å ÎêòÏóàÍ≥†, Í∑∏Í≤ÉÎì§ÎèÑ ÌíÄÏñ¥Î≥¥Í≥† Ïã∂ÏùÄ Î∂ÑÎì§ÏùÄ ÏïÑÎûò Ï∂úÏ≤òÎ•º ÎÇ®Í≤® ÎÜìÏïòÏúºÎãà Ï∞∏Í≥†ÌïòÏÑ∏Ïöî.

ÏïΩ 150Í∞ú Ï†ïÎèÑÎ°ú Î¨∏Ï†ú ÏàòÍ∞Ä ÎßéÏßÄÎßå Í∏∞Ï¥àÏ†ÅÏù∏ Î¨∏Ï†úÎì§Ïù¥ ÎßéÍ∏∞ ÎïåÎ¨∏Ïóê ÏãúÍ∞ÑÏù¥ Ï¢Ä Í±∏Î¶¥ Îøê ÌÅ∞ Ïñ¥Î†§ÏõÄÏùÄ ÏóÜÏùÑ Í±∞Îùº ÏÉùÍ∞ÅÌï©ÎãàÎã§.

Î¨∏Ï†úÎ•º ÌíÄÎã§Î≥¥Î©¥ Î∂ÄÏûêÏó∞Ïä§Îü¨Ïö¥ Î¨∏Ï†úÎèÑ ÎßéÏù¥ ÏûàÏßÄÎßå Í∑∏ÎÉ• Ïó∞Ïäµ ÏÇºÏïÑ ÌíÄÏñ¥Î≥¥ÏãúÍ∏∞ Î∞îÎûçÎãàÎã§.

Í¥ÄÎ†® csvÌååÏùºÎì§ÏùÄ Î≥ÑÎèÑÏùò ÌååÏùºÏóê Îã¥ÏïÑÎÜìÏïòÏäµÎãàÎã§.


 Î∞úÏ†úÏûê: DA 23Í∏∞ ÏñëÏßÑÏÑ±

### Ï∂úÏ≤ò

Author: Avi Chawla

LinkedIn: https://www.linkedin.com/in/avi-chawla/

Read my blogs here: https://medium.com/@avi_chawla

- **Pandas**

1. Pandas Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-1-d693ac55-6455-40cf-ae34-867c6a02014e/%2Fnotebook.ipynb)
2. Pandas Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-employee-dataset-7e3b6755-5d4b-464b-9b75-9c84667ae3bd/%2Fnotebook.ipynb)

3. Pandas Notebook 3: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-employee-part-2-adc5a3ee-5f61-4725-8e46-ccb07899acfc/%2Fnotebook.ipynb)

4. Pandas Notebook 4: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-after-employee-f84e02a1-fb6a-428e-af90-8dd99855749a/%2Fnotebook.ipynb) **(This Notebook)**

- **NumPy**

1. NumPy Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Numpy-part-1-9b9979f2-b708-4292-b466-3d0157564c91/%2Fnotebook.ipynb)

2. NumPy Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/NumPy-Notebook-2-4456411e-2ddd-426d-8027-4881080027db/%2Fnotebook.ipynb)

3. NumPy Notebook 3: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/NumPy-Notebook-3-e6587114-b580-4249-b599-540de859e603/%2Fnotebook.ipynb)

- **SQL**

1. SQL Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/SQL-Notebook-1-eac9d782-a9b1-4e84-a1f9-af14080a6121/%2Fnotebook.ipynb)

2. SQL Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/SQL-Notebook-2-1914b214-be03-44a1-be63-ad99e98be639/%2Fnotebook.ipynb)

# Pandas Notebook 1

In [ ]:
import pandas as pd
import numpy as np

## Create a Pandas DataFrame

\### 1. Create a DataFrame from a list of lists. Name the columns "col1", "col2" and "col3".

In [ ]:
data_list = [[1,2,3], [4,5,6]]

df = pd.DataFrame(data_list, columns=['col1', 'col2', 'col3'])
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6

### 2. Create a DataFrame from a list of lists. Name the columns "col1", "col2" and "col3". Change the data type of all columns to "int8".

In [ ]:
data_list = [[1,2,3], [4,5,6]]

df = pd.DataFrame(data_list, columns=['col1', 'col2', 'col3'])
df = df.astype('int8')
print(df)
print(df.dtypes)

   col1  col2  col3
0     1     2     3
1     4     5     6
col1    int8
col2    int8
col3    int8
dtype: object

### 3. Create a DataFrame from a dictionary.

In [ ]:
data_dict = {'col1': [1, 2], 'col2': [3, 4]}

df = pd.DataFrame(data_dict)
print(df)

   col1  col2
0     1     3
1     2     4

### 4. Create a DataFrame from a dictionary. Change the data type to "int8".

In [ ]:
data_dict = {'col1': [1, 2], 'col2': [3, 4]}

df = pd.DataFrame(data_dict)
df = df.astype('int8')
print(df)
print(df.dtypes)

   col1  col2
0     1     3
1     2     4
col1    int8
col2    int8
dtype: object

### 5. Create a DataFrame from a numpy array. Name the columns "col1", "col2" and "col3".

In [ ]:
data_nparray = np.array([[1,2,3], [4,5,6]])

df = pd.DataFrame(data_nparray, columns=['col1', 'col2', 'col3'])
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6

## Input Operations from CSV in Pandas

### 6. Read a CSV File.

In [ ]:
csv_file = "file1.csv"

df = pd.read_csv(csv_file)
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 7. Read a CSV File.

In [ ]:
csv_file = "file2.csv"

df = pd.read_csv(csv_file, delimiter='I')
print(df)

  col1|col2|col3
0          1|2|3
1          4|5|6
2          7|8|9

### 8. Read a CSV file with no header column and use "col1", "col2" and "col3" as column names. The delimiter is ",".

In [ ]:
csv_file = "file3.csv"

df = pd.read_csv(csv_file, header=None, names=['col1', 'col2', 'col3'], delimiter=',')
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 9. There are 3 columns in the file, namely "col1", "col2", and "col3". You have to read only "col1" and "col3".

In [ ]:
csv_file = "file1.csv"

df = pd.read_csv(csv_file, usecols=['col1', 'col3'])
print(df)

   col1  col3
0     1     3
1     4     6
2     7     9

### 10. There are 3 columns in the file, namely "col1", "col2", and "col3". You have to read only "col1" and "col3". Moreover, the delimiter is "|".

In [ ]:
csv_file = "file2.csv"

df = pd.read_csv(csv_file, usecols=['col1', 'col3'], delimiter ='|')
print(df)

   col1  col3
0     1     3
1     4     6
2     7     9

### 11. The file "file4.csv" has junk characters in the first two lines. You have to read the CSV file from the 3rd line.

In [ ]:
csv_file = "file4.csv"

df = pd.read_csv(csv_file, header=2)
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 12. There are 3 columns in the file, namely "col1", "col2", and "col3". While reading the CSV file, specify the data type of "col1" as 'int32'.

In [ ]:
csv_file = "input_data/file1.csv"

df =
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 13. The first column in the CSV file holds index values of the dataframe. Read it so that the first column goes as the index column of the dataframe.

In [ ]:
csv_file = "input_data/file5.csv"

df =
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 14. There are 9 data rows in the CSV file. Read only the first 4 of them.

Note: You should NOT read the whole CSV file and use the head() method to select the first 4 rows. üö´

In [ ]:
csv_file = "input_data/file6.csv"

df =
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9
3     1     2     3

## Output Operations to CSV in Pandas

### 16. Given the dataframe "df", store it to a CSV File (with the index values).

In [ ]:
df = pd.DataFrame([[1,2,3], [4,5,6]],
                  columns = ["col1", "col2", "col3"])

csv_file = "output_data/file1.csv"

## Start your code here



## End your code here

### 17. Given the dataframe "df", store it to a CSV File without the index column this time.

In [ ]:
df = pd.DataFrame([[1,2,3], [4,5,6]],
                  columns = ["col1", "col2", "col3"])

csv_file = "output_data/file2.csv"

## Start your code here


## End your code here

### 20. Given a dataframe "df" with three columns -- "col1", "col2" and "col3". Store the DataFrame to a CSV file without the column row ( and without the index values).

In [ ]:
df = pd.DataFrame([[1,2,3], [4,5,6]],
                  columns = ["col1", "col2", "col3"])

csv_file = "output_data/file5.csv"


## Start your code here



## End your code here

# Pandas Notebook 2

### 31. Read the CSV file.

In [ ]:
import pandas as pd

In [ ]:
file_name = "employee_dataset.csv"

df = pd.read_csv(file_name)

[ÎßÅÌÅ¨ ÌÖçÏä§Ìä∏](https://)### 32. Print the first 5 rows.

In [ ]:
df.head()

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520.0,Full Time,3.9
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090.0,Full Time,4.3
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890.0,Full Time,3.1
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400.0,Full Time,3.1
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499.0,Full Time,4.8

### 33. Print the last 10 rows.

In [ ]:
df.tail(10)

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
51800,Nicole Shaw,Andrade LLC,Ergonomist,North Melissafurt,British Indian Ocean Territory (Chagos Archipe...,283580.0,Full Time,4.4
51801,Jennifer Maynard,Matthews Inc,Diplomatic Services operational officer,New Cindychester,Saint Lucia,814450.0,Full Time,1.7
51802,Scott Cooley,Nichols-James,Make,Whitakerbury,Malta,591770.0,Full Time,0.2
51803,Stephanie Garcia,Marshall-Holloway,Diplomatic Services operational officer,North Melissafurt,Senegal,100980.0,Full Time,4.2
51804,Andrea Wilson,Matthews Inc,Diplomatic Services operational officer,Ricardomouth,Kyrgyz Republic,513599.0,Full Time,4.5
51805,Christopher Walker,Marshall-Holloway,"Radiographer, therapeutic",Ricardomouth,Greece,94460.0,Full Time,4.1
51806,John Vasquez,Scott Inc,Optometrist,Ricardomouth,Estonia,575290.0,Full Time,0.5
51807,William Rosario,"Baker, Allen and Edwards",Patent examiner,Aliciafort,Burkina Faso,714320.0,Intern,0.8
51808,Troy Aguilar,Bullock-Carrillo,Ergonomist,New Russellton,Ghana,10680.0,Intern,2.4
51809,Katie Brennan,"White, Mcclain and Cobb",Diplomatic Services operational officer,New Ci,NaN,NaN,NaN,NaN

### 34. Print the number of rows.

In [ ]:
rows = len(df)

print(rows)

51810

### 35. Print the number of columns.

In [ ]:
columns = len(df.columns)

print(columns)

8

### 36. Print all column names.

In [ ]:
column_names = df.columns

print(column_names)

Index(['Name', 'Company_Name', 'Employee_Job_Title', 'Employee_City',
       'Employee_Country', 'Employee_Salary', 'Employment_Status',
       'Employee_Rating'],
      dtype='object')


### 37. Print the mean of Employee_Salary.

In [ ]:
# 'Employee_Salary' Ïó¥Ïùò ÌèâÍ∑† Í≥ÑÏÇ∞
salary_mean = df['Employee_Salary'].mean()

# ÌèâÍ∑† Í∞í Ï∂úÎ†•
print(salary_mean)

500544.0049219248

### 38. Print the mean of Employee_Rating.

In [ ]:

# 'Employee_Salary' Ïó¥Ïùò ÌèâÍ∑† Í≥ÑÏÇ∞
salary_mean = df['Employee_Rating'].mean()

# ÌèâÍ∑† Í∞í Ï∂úÎ†•
print(salary_mean)

2.50921268505472

### 39. Print the number of distinct Company_Name.

In [ ]:

# 'Company_Name' Ïó¥Ïùò Í≥†Ïú†Ìïú Í∞íÎì§Ïùò Í∞úÏàò Í≥ÑÏÇ∞
distinct_companies = df['Company_Name'].nunique()

# Í≥†Ïú†Ìïú Í∞íÎì§Ïùò Í∞úÏàò Ï∂úÎ†•
print(distinct_companies)

15

### 41. Print the number of employees working in the company "Nichols-James".

In [ ]:
nichols_james_employees = df[df['Company_Name'] == 'Nichols-James']

# Count the number of employees in 'Nichols-James'
num_employees = len(nichols_james_employees)

# Print the number of employees
print(num_employees)

3447

### 42-44. Print the maximum, minimum and median Employee_Salary.

In [ ]:

# Employee_Salary Ïó¥ÏóêÏÑú ÏµúÎåÄÍ∞í, ÏµúÏÜåÍ∞í, Ï§ëÏïôÍ∞í Í≥ÑÏÇ∞
max_salary = df['Employee_Salary'].max()
min_salary = df['Employee_Salary'].min()
median_salary = df['Employee_Salary'].median()

# Í≤∞Í≥º Ï∂úÎ†•
print("ÏµúÎåÄ Í∏âÏó¨:", max_salary)
print("ÏµúÏÜå Í∏âÏó¨:", min_salary)
print("Ï§ëÏïô Í∏âÏó¨:", median_salary)

ÏµúÎåÄ Í∏âÏó¨: 999980.0
ÏµúÏÜå Í∏âÏó¨: 50.0
Ï§ëÏïô Í∏âÏó¨: 501650.0

### 45-49. Print the distribution of the following columns: (the frequency of individual entries).

1. Company_Name

In [ ]:
# Calculate the frequency distribution of Company_Name
company_distribution = df['Company_Name'].value_counts()

print(company_distribution)

Thomas-Spencer                    3534
Taylor-Ramos                      3510
Scott Inc                         3509
White, Mcclain and Cobb           3500
Johnston, Fleming and Tanner      3488
Andrade LLC                       3485
Nelson-Li                         3475
James and Sons                    3461
Bullock-Carrillo                  3454
Marshall-Holloway                 3452
Nichols-James                     3447
Baker, Allen and Edwards          3415
Matthews Inc                      3401
Campos, Reynolds and Mccormick    3386
Wallace, Smith and Shepard        3293
Name: Company_Name, dtype: int64

2. Employee_Job_Title

In [ ]:
company_distribution = df['Employee_Job_Title'].value_counts()

print(company_distribution)

Diplomatic Services operational officer                  5220
Actuary                                                  2647
Administrator                                            2625
Retail merchandiser                                      2616
Trading standards officer                                2615
Radiographer, therapeutic                                2613
Optometrist                                              2612
Sales promotion account executive                        2611
Garment/textile technologist                             2608
Investment banker, corporate                             2592
Patent examiner                                          2591
Ergonomist                                               2589
Production engineer                                      2586
Energy manager                                           2583
Equities trader                                          2570
Armed forces logistics/support/administrative officer    2560
Naval architect                                          2553
Make                                                     2531
Regulatory affairs officer                               2488
Name: Employee_Job_Title, dtype: int64

### 50. Print the company with the most number of employees.

In [ ]:
# Grouping by 'Company_Name' and counting the number of employees in each company
company_employee_counts = df.groupby('Company_Name').size()

# Finding the company with the maximum number of employees
max_employees_company = company_employee_counts.idxmax()
max_employees_count = company_employee_counts.max()

# Formatting the output as a string without quotes
output_str = f"{max_employees_company}"

output_str

'Thomas-Spencer'

### 51. Print the number of employees in the above company.

In [ ]:
number_of_employees = len(df)

# Print the number of employees
print("Number of employees:", number_of_employees)

Number of employees: 51810

### 52. Print the company with the least number of employees.

In [ ]:
# Finding the company with the least number of employees

# Grouping by 'Company_Name' and counting the number of employees in each company
company_employee_counts = df.groupby('Company_Name').size()

# Finding the company with the minimum number of employees
min_employees_company = company_employee_counts.idxmin()
min_employees_count = company_employee_counts.min()

# Formatting the output as a string without quotes
output_str_least_employees = f"{min_employees_company} ({min_employees_count} employees)"

output_str_least_employees

'Wallace, Smith and Shepard (3293 employees)'

### 53. Print the number of employees in the above company.

In [ ]:
# Counting the number of employees in the specific company "Wallace, Smith and Shepard"

# Filtering the dataframe for the specific company
company_specific_df = df[df['Company_Name'] == "Wallace, Smith and Shepard"]

# Counting the number of employees in this company
number_of_employees_specific_company = len(company_specific_df)

# Formatting the output as a string without quotes
output_str_specific_company = f"Number of employees in 'Wallace, Smith and Shepard': {number_of_employees_specific_company}"

output_str_specific_company

"Number of employees in 'Wallace, Smith and Shepard': 3293"

### 54. Print the employee details with the maximum salary

In [ ]:
# Finding the employee details with the maximum salary

# Identifying the row with the maximum salary
max_salary_row = df[df['Employee_Salary'] == df['Employee_Salary'].max()]

# Displaying the employee details with the maximum salary
max_salary_row_details = max_salary_row.to_string(index=False)

max_salary_row_details

'           Name            Company_Name Employee_Job_Title Employee_City Employee_Country  Employee_Salary Employment_Status  Employee_Rating\n  Logan Jackson White, Mcclain and Cobb         Ergonomist      Wardfort     Saint Helena         999980.0         Full Time              2.0\nRichard Kennedy          Thomas-Spencer     Energy manager    Aliciafort     Cook Islands         999980.0         Full Time              2.4'

### 55. Print the employee details with the maximum rating

In [ ]:
# Finding the employee details with the maximum rating

# Identifying the row with the maximum rating
max_rating_row = df[df['Employee_Rating'] == df['Employee_Rating'].max()]

# Displaying the employee details with the maximum rating
max_rating_row_details = max_rating_row.to_string(index=False)

max_rating_row_details

"                Name                   Company_Name                                    Employee_Job_Title     Employee_City                             Employee_Country  Employee_Salary Employment_Status  Employee_Rating\n      Joshua Huffman                 James and Sons                          Garment/textile technologist    New Russellton                                 Cook Islands         694760.0         Full Time              5.0\n        Alan Carlson       Baker, Allen and Edwards               Diplomatic Services operational officer       Kristaburgh                                     Mongolia         491710.0            Intern              5.0\n        Lisa Summers   Johnston, Fleming and Tanner                            Regulatory affairs officer North Melissafurt                                         Togo         933500.0         Full Time              5.0\n       Timothy Woods   Johnston, Fleming and Tanner                          Garment/textile technologist         Whiteside                 United States Virgin Islands         367630.0         Full Time              5.0\n     Cameron Hawkins                   Taylor-Ramos Armed forces logistics/support/administrative officer          Wardfort                                     Tanzania          66570.0            Intern              5.0\n        Matthew Hood        White, Mcclain and Cobb                     Sales promotion account executive      Ricardomouth                                      Bahrain         401710.0         Full Time              5.0\n        Paula Obrien                    Andrade LLC                          Investment banker, corporate         Whiteside                                     Mongolia         301510.0         Full Time              5.0\n        Heidi Miller                    Andrade LLC                     Sales promotion account executive        Aliciafort                                Faroe Islands         485410.0         Full Time              5.0\n      Jonathan Perry                   Matthews Inc                                        Energy manager    West Jamesview                                      Germany         253869.0         Full Time              5.0\n       Robert Torres Campos, Reynolds and Mccormick                                       Equities trader    West Jamesview                                       Malawi          16250.0            Intern              5.0\n        Terri Garcia                      Scott Inc                             Radiographer, therapeutic        Aliciafort                                       Guinea         830990.0         Full Time              5.0\n    Jennifer Rollins                 James and Sons                             Radiographer, therapeutic      Whitakerbury                               Western Sahara         230630.0         Full Time              5.0\n         Jenny Stark        White, Mcclain and Cobb                                               Actuary         Whiteside                                        Qatar         362500.0         Full Time              5.0\n    Amber Hutchinson                   Taylor-Ramos               Diplomatic Services operational officer        Aliciafort                                         Oman         250919.0            Intern              5.0\n     Melissa Herring               Bullock-Carrillo                          Garment/textile technologist         Whiteside                      Cocos (Keeling) Islands         225130.0            Intern              5.0\n     Kimberly Vaughn                      Scott Inc                                         Administrator          Wardfort                                     Maldives         796830.0         Full Time              5.0\n    Gregory Marshall                   Matthews Inc                             Radiographer, therapeutic       Kristaburgh                                   Micronesia         441270.0         Full Time              5.0\n         Kathy Cohen Campos, Reynolds and Mccormick               Diplomatic Services operational officer      Ricardomouth                                   San Marino         282930.0         Full Time              5.0\n       Michelle King   Johnston, Fleming and Tanner Armed forces logistics/support/administrative officer      Ricardomouth                                        Aruba         307770.0         Full Time              5.0\n         Mark Holmes                 James and Sons                                               Actuary        Aliciafort                                         Fiji         579480.0            Intern              5.0\n        Gina Fuentes                 James and Sons                          Investment banker, corporate North Melissafurt                                     Kiribati         496980.0            Intern              5.0\n        Daniel Lopez                 James and Sons Armed forces logistics/support/administrative officer    West Jamesview                                     Suriname         225830.0            Intern              5.0\n       Jeffrey Moore                    Andrade LLC                          Garment/textile technologist    West Jamesview                                 Turkmenistan         332910.0         Full Time              5.0\n       Colleen Curry                      Scott Inc                             Trading standards officer      Ricardomouth                                  Switzerland         728260.0         Full Time              5.0\n      Desiree Ortega                 James and Sons                                   Retail merchandiser North Melissafurt                             French Polynesia         479080.0         Full Time              5.0\n     Samuel Hamilton                    Andrade LLC                                           Optometrist North Melissafurt                           Dominican Republic         695460.0         Full Time              5.0\n          Ryan Jones       Baker, Allen and Edwards                                       Patent examiner         Whiteside                                     Tanzania         398550.0         Full Time              5.0\n        Daniel Adams              Marshall-Holloway                            Regulatory affairs officer      Whitakerbury                                  El Salvador         579140.0            Intern              5.0\n          Henry King       Baker, Allen and Edwards                                       Naval architect        Aliciafort                                      Bolivia         803370.0            Intern              5.0\n   Courtney Martinez       Baker, Allen and Edwards                                   Retail merchandiser      Whitakerbury                                       Uganda         577580.0         Full Time              5.0\n     Trevor Carrillo                   Matthews Inc                                                  Make          Wardfort                                  Saint Lucia         712990.0         Full Time              5.0\n       Brian Simmons               Bullock-Carrillo                     Sales promotion account executive          Wardfort                                   Micronesia         404970.0         Full Time              5.0\n         Amy Barrett   Johnston, Fleming and Tanner                                       Naval architect North Melissafurt                                      Lesotho         664760.0         Full Time              5.0\n       Rhonda Durham   Johnston, Fleming and Tanner                                   Production engineer        Aliciafort                                     Cameroon         278410.0            Intern              5.0\n         Paul Wilson                  Nichols-James               Diplomatic Services operational officer    New Russellton                             French Polynesia         528680.0         Full Time              5.0\n       Kerri Stewart     Wallace, Smith and Shepard                             Radiographer, therapeutic    New Russellton                                      Bahamas         481070.0            Intern              5.0\n      Thomas Hampton              Marshall-Holloway                                            Ergonomist      Whitakerbury                                       Sweden         391010.0         Full Time              5.0\n       Clinton Perez       Baker, Allen and Edwards                          Garment/textile technologist North Melissafurt                                    Indonesia         390050.0         Full Time              5.0\n         Robert Clay                      Scott Inc                                         Administrator North Melissafurt                                      Grenada         161710.0            Intern              5.0\n      Brenda Schmitt              Marshall-Holloway               Diplomatic Services operational officer  New Cindychester                                  Netherlands          37850.0         Full Time              5.0\n         Devon Scott                 Thomas-Spencer                                   Retail merchandiser        Aliciafort                                        Aruba         865300.0         Full Time              5.0\n    Kristopher Baker        White, Mcclain and Cobb                                        Energy manager      Whitakerbury                               Cayman Islands         721140.0         Full Time              5.0\n       Jennifer Lara                   Matthews Inc                                         Administrator    New Russellton                                       Serbia         513780.0         Full Time              5.0\n      Gregory Powell                 James and Sons                                        Energy manager        Aliciafort                                        Niger         968730.0         Full Time              5.0\n        Brandon Rios              Marshall-Holloway                                           Optometrist          Wardfort                                Cote d'Ivoire         339640.0         Full Time              5.0\n        Connie White        White, Mcclain and Cobb                                   Retail merchandiser          Wardfort                                      Croatia         327360.0            Intern              5.0\n       Deborah Jones                      Scott Inc Armed forces logistics/support/administrative officer    New Russellton                                        Chile         178890.0            Intern              5.0\n    Yesenia Mcdowell                 James and Sons                                           Optometrist         Whiteside                                    Lithuania         330170.0         Full Time              5.0\n     Sean Richardson              Marshall-Holloway                                                  Make      Whitakerbury                                       Rwanda         252190.0         Full Time              5.0\n       Michael Moore                   Taylor-Ramos               Diplomatic Services operational officer       Kristaburgh                         Syrian Arab Republic         348210.0         Full Time              5.0\n     Benjamin Brooks   Johnston, Fleming and Tanner                                   Retail merchandiser       Kristaburgh                                      Georgia         386810.0            Intern              5.0\n         Donna Foley   Johnston, Fleming and Tanner                                           Optometrist        Aliciafort         United States Minor Outlying Islands         197890.0            Intern              5.0\n       Amanda Benson                    Andrade LLC                                   Production engineer    New Russellton                                         Chad         491030.0            Intern              5.0\n    Makayla Williams                    Andrade LLC                             Radiographer, therapeutic    West Jamesview                                      Croatia         607780.0            Intern              5.0\n     Stephanie Jones              Marshall-Holloway                                               Actuary  New Cindychester                                   Guadeloupe         119980.0         Full Time              5.0\n       Erin Mcdaniel                  Nichols-James                                        Energy manager    West Jamesview                                       Zambia         416130.0         Full Time              5.0\n        Michael King        White, Mcclain and Cobb                     Sales promotion account executive        Aliciafort                               Czech Republic         887810.0         Full Time              5.0\n     Ronnie Williams   Johnston, Fleming and Tanner               Diplomatic Services operational officer      Ricardomouth                         Syrian Arab Republic         898660.0            Intern              5.0\n           Aaron Fox                 James and Sons               Diplomatic Services operational officer         Whiteside         United States Minor Outlying Islands         869120.0         Full Time              5.0\n     Dennis Williams                      Scott Inc                                           Optometrist    New Russellton                                      Estonia         177370.0         Full Time              5.0\nChristopher Mcdonald                  Nichols-James                                       Equities trader      Ricardomouth                                    Argentina         438330.0         Full Time              5.0\n        Jeremy Nolan   Johnston, Fleming and Tanner                                       Naval architect       Kristaburgh                    Saint Pierre and Miquelon         142090.0         Full Time              5.0\n        Larry Davila                   Taylor-Ramos                                                  Make        Aliciafort                       Bosnia and Herzegovina         541420.0         Full Time              5.0\n           Cory King                   Taylor-Ramos Armed forces logistics/support/administrative officer        Aliciafort                                      Denmark         815530.0            Intern              5.0\n          Alvin Chen                   Matthews Inc                          Investment banker, corporate  New Cindychester                                         Niue         946580.0         Full Time              5.0\n        James Hughes   Johnston, Fleming and Tanner                            Regulatory affairs officer    West Jamesview                             Pitcairn Islands         938370.0         Full Time              5.0\n         Harry Mckay              Marshall-Holloway                                            Ergonomist      Whitakerbury South Georgia and the South Sandwich Islands         140220.0         Full Time              5.0\n      Michael Guzman        White, Mcclain and Cobb                             Radiographer, therapeutic        Aliciafort                                        Qatar         706410.0         Full Time              5.0\n       Travis Daniel              Marshall-Holloway               Diplomatic Services operational officer    New Russellton                     United States of America         834840.0         Full Time              5.0\n   Christopher James                   Taylor-Ramos                                         Administrator         Whiteside                         Syrian Arab Republic         585730.0         Full Time              5.0\n     Lonnie Reynolds                  Nichols-James                                            Ergonomist  New Cindychester                                        Gabon         597660.0         Full Time              5.0\n    Stephen Guerrero                  Nichols-James                                        Energy manager        Aliciafort                                       Poland         280090.0         Full Time              5.0\n       Alexis Garcia                      Nelson-Li                     Sales promotion account executive      Whitakerbury                                        Nauru         475610.0         Full Time              5.0\n        Kelli Jordan                   Matthews Inc                             Trading standards officer       Kristaburgh                                        Sudan         221460.0         Full Time              5.0\n        Isabella Lee   Johnston, Fleming and Tanner                             Radiographer, therapeutic         Whiteside                                    Venezuela         518760.0         Full Time              5.0\n         Dale Rogers                   Matthews Inc                                   Retail merchandiser      Whitakerbury                    Saint Pierre and Miquelon         700000.0            Intern              5.0\n      Harry Martinez                   Taylor-Ramos                             Trading standards officer          Wardfort                                  Switzerland         773330.0            Intern              5.0\n       Scott Stewart                      Nelson-Li                                       Patent examiner        Aliciafort                       British Virgin Islands         688770.0         Full Time              5.0\n     Timothy Sanchez                  Nichols-James                                   Production engineer    West Jamesview                                       Poland         805850.0         Full Time              5.0\n      Robert Marquez        White, Mcclain and Cobb                                            Ergonomist    West Jamesview                                      Bolivia         732860.0         Full Time              5.0\n          David Hall   Johnston, Fleming and Tanner                                       Equities trader  New Cindychester South Georgia and the South Sandwich Islands         308730.0            Intern              5.0\n         Nicole Leon                    Andrade LLC                                           Optometrist        Aliciafort                               American Samoa         954560.0            Intern              5.0\n       Holly Carroll                    Andrade LLC               Diplomatic Services operational officer    New Russellton                     Central African Republic         489420.0         Full Time              5.0\n       Donna Ramirez Campos, Reynolds and Mccormick                                       Naval architect    West Jamesview                                        Korea         674250.0            Intern              5.0\n      Holly Mcintyre                      Scott Inc                                   Production engineer          Wardfort                                        Egypt         687810.0         Full Time              5.0\n        Larry Wilson       Baker, Allen and Edwards Armed forces logistics/support/administrative officer North Melissafurt                                      Jamaica         814350.0         Full Time              5.0\n           Brooke Le                 Thomas-Spencer Armed forces logistics/support/administrative officer      Ricardomouth                             Pitcairn Islands         220530.0         Full Time              5.0\n       Cynthia Baker                      Nelson-Li                             Radiographer, therapeutic    New Russellton                           Dominican Republic         737310.0         Full Time              5.0\n      Christie Myers     Wallace, Smith and Shepard                                       Patent examiner       Kristaburgh                                       Canada         911510.0         Full Time              5.0\n      Charles Barro

### 56. Print the Company_Name with most number of employees in 'Wardfort' city.

In [ ]:
# Finding the company with the most number of employees in 'Wardfort' city

# Filtering the dataframe for 'Wardfort' city
wardfort_df = df[df['Employee_City'] == 'Wardfort']

# Grouping by 'Company_Name' and counting the number of employees in each company in Wardfort
wardfort_company_employee_counts = wardfort_df.groupby('Company_Name').size()

# Finding the company with the maximum number of employees in Wardfort
max_employees_company_wardfort = wardfort_company_employee_counts.idxmax()
max_employees_count_wardfort = wardfort_company_employee_counts.max()

max_employees_company_wardfort, max_employees_count_wardfort

('Nelson-Li', 388)

### 57. Change the Data type of 'Employee_Salary' column to float.

In [ ]:
# Changing the data type of the 'Employee_Salary' column to float
df['Employee_Salary'] = df['Employee_Salary'].astype(float)

# Displaying the data types to confirm the change
df.dtypes

Name                   object
Company_Name           object
Employee_Job_Title     object
Employee_City          object
Employee_Country       object
Employee_Salary       float64
Employment_Status      object
Employee_Rating       float64
dtype: object

### 58. Print the Employee_City with the most number of 'Production engineer'.

In [ ]:
# Finding the city with the most number of 'Production engineer'

# Filtering the dataframe for 'Production engineer' job title
production_engineer_df = df[df['Employee_Job_Title'] == 'Production engineer']

# Grouping by 'Employee_City' and counting the number of 'Production engineer' in each city
city_production_engineer_counts = production_engineer_df.groupby('Employee_City').size()

# Finding the city with the maximum number of 'Production engineer'
max_production_engineer_city = city_production_engineer_counts.idxmax()
max_production_engineer_count = city_production_engineer_counts.max()

max_production_engineer_city, max_production_engineer_count

('New Russellton', 279)

### 60. Print the Company_Name with the highest average 'Employee_Rating'.

In [ ]:
# Finding the company with the highest average 'Employee_Rating'

# Grouping by 'Company_Name' and calculating the average 'Employee_Rating' for each company
company_avg_rating = df.groupby('Company_Name')['Employee_Rating'].mean()

# Finding the company with the highest average rating
highest_avg_rating_company = company_avg_rating.idxmax()
highest_avg_rating = company_avg_rating.max()

highest_avg_rating_company, highest_avg_rating

('White, Mcclain and Cobb', 2.5477850814518437)

### 61. Print the number of employees working in 'Ricardomouth' and 'Kristaburgh' location combined.

30204

### 62. Print the distinct Company_Name corresponding to the 5 highest paid employees in the dataset.

array(['Taylor-Ramos', 'Thomas-Spencer', 'White, Mcclain and Cobb',
       'Campos, Reynolds and Mccormick'], dtype=object)

### 63. Check if there are any duplicate rows in the DataFrame.

Empty DataFrame
Columns: [Name, Company_Name, Employee_Job_Title, Employee_City, Employee_Country, Employee_Salary, Employment_Status, Employee_Rating]
Index: []

### 64. Check if any of the columns has NaN values.

Name                  0
Company_Name          0
Employee_Job_Title    0
Employee_City         0
Employee_Country      0
Employee_Salary       0
Employment_Status     0
Employee_Rating       0
dtype: int64

### 65. Print the data type of every column in the DataFrame.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Name                300000 non-null  object
 1   Company_Name        300000 non-null  object
 2   Employee_Job_Title  300000 non-null  object
 3   Employee_City       300000 non-null  object
 4   Employee_Country    300000 non-null  object
 5   Employee_Salary     300000 non-null  float64
 6   Employment_Status   300000 non-null  object
 7   Employee_Rating     300000 non-null  float64
dtypes: float64(2), object(6)
memory usage: 18.3+ MB

### 66. Print the Company_Name column only as a Series

0                       James and Sons
1                        Nichols-James
2                            Scott Inc
3         Johnston, Fleming and Tanner
4             Baker, Allen and Edwards
                      ...
299995                Bullock-Carrillo
299996    Johnston, Fleming and Tanner
299997                   Nichols-James
299998                   Nichols-James
299999                  James and Sons
Name: Company_Name, Length: 300000, dtype: object

### 67. Print the Company_Name column only as a DataFrame

                        Company_Name
0                     James and Sons
1                      Nichols-James
2                          Scott Inc
3       Johnston, Fleming and Tanner
4           Baker, Allen and Edwards
...                              ...
299995              Bullock-Carrillo
299996  Johnston, Fleming and Tanner
299997                 Nichols-James
299998                 Nichols-James
299999                James and Sons

[300000 rows x 1 columns]

### 68. Select the 'Employee_Job_Title' and 'Employee_City' column.

                             Employee_Job_Title      Employee_City
0                               Equities trader     New Russellton
1       Diplomatic Services operational officer  North Melissafurt
2                    Regulatory affairs officer           Wardfort
3                           Production engineer     West Jamesview
4                           Production engineer          Whiteside
...                                         ...                ...
299995                              Optometrist  North Melissafurt
299996                            Administrator         Aliciafort
299997                            Administrator   New Cindychester
299998                                     Make       Whitakerbury
299999                                  Actuary     New Russellton

[300000 rows x 2 columns]

### 69. Print the number of employees with Employee_Rating greater than the average Employee_Rating

147548

### 74. Print the first 5 rows of the first 5 columns.

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica

### 76. Print the number of employees whose first name starts with the letter 'V'.

3683

### 77. Print the number of employees whose last name starts with the letter 'R'.

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
17,Gail Rose,Thomas-Spencer,Patent examiner,Whitakerbury,Finland,178570.0,Full Time,1.9
26,Donna Rodriguez,Thomas-Spencer,Sales promotion account executive,Whiteside,Guam,622920.0,Full Time,2.8
28,Kim Reynolds,Marshall-Holloway,Actuary,West Jamesview,Faroe Islands,794450.0,Full Time,1.4
39,Jessica Reyes,Thomas-Spencer,Garment/textile technologist,Kristaburgh,Botswana,667490.0,Full Time,0.7
55,Amanda Roth,Taylor-Ramos,Administrator,North Melissafurt,Macedonia,437720.0,Full Time,0.7
...,...,...,...,...,...,...,...,...
299902,Michelle Reynolds,Marshall-Holloway,Make,Wardfort,El Salvador,105680.0,Full Time,4.8
299905,Sandra Riley,"Wallace, Smith and Shepard",Energy manager,Whiteside,Northern Mariana Islands,34760.0,Full Time,2.0
299964,Joshua Rodriguez,Andrade LLC,Trading standards officer,New Cindychester,Sierra Leone,118300.0,Full Time,1.1
299967,James Rhodes,Matthews Inc,Production engineer,New Cindychester,Honduras,386610.0,Full Time,1.4
299991,William Rodriguez,Scott Inc,Ergonomist,Whiteside,New Zealand,214400.0,Full Time,1.5

### 78. Select the rows 2 to 7 and the columns 3 to 7 (both included)

,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
2,Wardfort,Anguilla,630890.0,Full Time,3.1
3,West Jamesview,Syrian Arab Republic,116400.0,Full Time,3.1
4,Whiteside,Dominica,523499.0,Full Time,4.8
5,Ricardomouth,Mali,850140.0,Full Time,2.6
6,Wardfort,Aruba,711410.0,Full Time,2.0
7,Kristaburgh,Western Sahara,777000.0,Full Time,3.3

### 79. Select every row after the 10th row and select all columns.

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
10,Victoria Sutton,"White, Mcclain and Cobb",Naval architect,Whiteside,Poland,656260.0,Full Time,4.9
11,Timothy Johnson,"Baker, Allen and Edwards",Regulatory affairs officer,Ricardomouth,Georgia,503610.0,Full Time,2.9
12,Tiffany Galvan,"Campos, Reynolds and Mccormick",Diplomatic Services operational officer,West Jamesview,Niger,786430.0,Intern,3.6
13,David Duran,Nichols-James,"Investment banker, corporate",New Russellton,Georgia,910210.0,Full Time,4.9
14,Julie Cook,Matthews Inc,Equities trader,New Russellton,Puerto Rico,328860.0,Full Time,4.8
...,...,...,...,...,...,...,...,...
299995,Nancy Neal,Bullock-Carrillo,Optometrist,North Melissafurt,Samoa,99670.0,Intern,3.3
299996,Michele Butler,"Johnston, Fleming and Tanner",Administrator,Aliciafort,Cuba,949580.0,Intern,2.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830.0,Full Time,0.6
299998,Lindsey Keith,Nichols-James,Make,Whitakerbury,Western Sahara,257240.0,Full Time,2.4
299999,Karen Delgado,James and Sons,Actuary,New Russellton,United Kingdom,575770.0,Intern,3.3

### 83. Print the name of the company with the maximum employees having rating > 4.

'Matthews Inc'

### 88. Which is the most common first name in the dataframe?

'Michael'

### 90. What is the average name length?

13.1079

# Pandas Notebook 3

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("employee_dataset.csv")

### 91. What is the ratio of total full-time employees to Interns?

In [5]:
# Calculating the ratio of total full-time employees to interns

# Counting the number of full-time employees and interns
full_time_count = df[df['Employment_Status'] == 'Full Time'].shape[0]
intern_count = df[df['Employment_Status'] == 'Intern'].shape[0]

# Calculating the ratio
if intern_count > 0:
    ratio_full_time_to_interns = full_time_count / intern_count
else:
    ratio_full_time_to_interns = "No interns in the dataset"

ratio_full_time_to_interns

4.0008334722453744

### 92. Starting from the first record, print every third record in the DataFrame.

Print 1st row, then 4th, 7th, 10th, and so on...

In [6]:
df.iloc[::3]

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
6,Kelly Brown,Andrade LLC,Naval architect,Wardfort,Aruba,711410,Full Time,2.0
9,Michael Edwards,"Campos, Reynolds and Mccormick",Ergonomist,New Cindychester,Lao People's Democratic Republic,516950,Full Time,2.3
12,Tiffany Galvan,"Campos, Reynolds and Mccormick",Diplomatic Services operational officer,West Jamesview,Niger,786430,Intern,3.6
...,...,...,...,...,...,...,...,...
299985,Chase Stevens,Nelson-Li,Energy manager,Whitakerbury,Northern Mariana Islands,590590,Full Time,2.6
299988,Kenneth Hurley,Scott Inc,Make,New Russellton,Russian Federation,211180,Full Time,3.9
299991,William Rodriguez,Scott Inc,Ergonomist,Whiteside,New Zealand,214400,Full Time,1.5
299994,Kelly Bennett,"White, Mcclain and Cobb","Radiographer, therapeutic",Wardfort,Fiji,182270,Full Time,3.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830,Full Time,0.6

### 93. Find the average salary for every company.

In [8]:
df_avgsalary = df.groupby('Company_Name')['Employee_Salary'].mean()


df_avgsalary

Company_Name
Andrade LLC                       497237.159385
Baker, Allen and Edwards          498032.358445
Bullock-Carrillo                  499603.804865
Campos, Reynolds and Mccormick    503528.982687
James and Sons                    503581.015754
Johnston, Fleming and Tanner      500579.128010
Marshall-Holloway                 502314.169445
Matthews Inc                      501640.159488
Nelson-Li                         500569.824558
Nichols-James                     497881.232334
Scott Inc                         500491.809024
Taylor-Ramos                      498747.292516
Thomas-Spencer                    499350.850164
Wallace, Smith and Shepard        500807.608810
White, Mcclain and Cobb           499083.493806
Name: Employee_Salary, dtype: float64

### 95. Find the average salary and average rating for every company in a single line.

In [9]:
df_avg = df.groupby('Company_Name').agg({'Employee_Salary': 'mean', 'Employee_Rating': 'mean'})


df_avg

                                Employee_Salary  Employee_Rating
Company_Name
Andrade LLC                       497237.159385         2.498218
Baker, Allen and Edwards          498032.358445         2.504795
Bullock-Carrillo                  499603.804865         2.502014
Campos, Reynolds and Mccormick    503528.982687         2.506288
James and Sons                    503581.015754         2.505023
Johnston, Fleming and Tanner      500579.128010         2.513159
Marshall-Holloway                 502314.169445         2.504900
Matthews Inc                      501640.159488         2.525454
Nelson-Li                         500569.824558         2.504649
Nichols-James                     497881.232334         2.488554
Scott Inc                         500491.809024         2.515993
Taylor-Ramos                      498747.292516         2.513150
Thomas-Spencer                    499350.850164         2.505114
Wallace, Smith and Shepard        500807.608810         2.497402
White, Mcclain and Cobb           499083.493806         2.504047

### 96. Find the number of unique Employee_City corresponding to every Company_Name.

In [10]:
df_unique_cities = df.groupby('Company_Name')['Employee_City'].nunique()


df_unique_cities

Company_Name
Andrade LLC                       10
Baker, Allen and Edwards          10
Bullock-Carrillo                  10
Campos, Reynolds and Mccormick    10
James and Sons                    10
Johnston, Fleming and Tanner      10
Marshall-Holloway                 10
Matthews Inc                      10
Nelson-Li                         10
Nichols-James                     10
Scott Inc                         10
Taylor-Ramos                      10
Thomas-Spencer                    10
Wallace, Smith and Shepard        10
White, Mcclain and Cobb           10
Name: Employee_City, dtype: int64

### 98. Print the number of full-time and intern employees for every company

In [11]:
df_employee_count = df.groupby(['Company_Name', 'Employment_Status']).size()


print(df_employee_count)

Company_Name                    Employment_Status
Andrade LLC                     Full Time            15964
                                Intern                4019
Baker, Allen and Edwards        Full Time            16118
                                Intern                3966
Bullock-Carrillo                Full Time            16135
                                Intern                3928
Campos, Reynolds and Mccormick  Full Time            15930
                                Intern                3997
James and Sons                  Full Time            15888
                                Intern                3980
Johnston, Fleming and Tanner    Full Time            15832
                                Intern                3979
Marshall-Holloway               Full Time            15871
                                Intern                3988
Matthews Inc                    Full Time            16082
                                Intern                4001
Nelson-Li                       Full Time            16027
                                Intern                4105
Nichols-James                   Full Time            15872
                                Intern                4039
Scott Inc                       Full Time            16396
                                Intern                3994
Taylor-Ramos                    Full Time            16086
                                Intern                4036
Thomas-Spencer                  Full Time            16037
                                Intern                4105
Wallace, Smith and Shepard      Full Time            15467
                                Intern                3897
White, Mcclain and Cobb         Full Time            16305
                                Intern                3956
dtype: int64

### 99. Print the job title with the most employees.

In [12]:
df_job = df['Employee_Job_Title'].value_counts()


df_job.idxmax()

'Diplomatic Services operational officer'

### 107. Check if the substring 'Michael Edward' appears in the Name column or not.

> Îì§Ïó¨Ïì¥ Î∏îÎ°ù

In [13]:
substring_presence = df['Name'].str.contains('Michael Edward').any()

substring_presence

True

### 110. Print the number of records whose company name contains the substring 'LL' (case-insensitive).

In [14]:
# Counting the number of records whose company name contains the substring 'LL' (case-insensitive)

# Using str.contains with case-insensitive flag
records_with_ll = df['Company_Name'].str.contains('LL', case=False, na=False).sum()

records_with_ll

99353

### 111. Select the first row corresponding to every company in the dataframe

In [15]:
# Selecting the first row corresponding to every company in the dataframe

# Using groupby and first to select the first row for each company
first_row_per_company = df.groupby('Company_Name').first()

first_row_per_company

,Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
Company_Name,,,,,,,
Andrade LLC,Vanessa Allen,Make,Ricardomouth,Mali,850140,Full Time,2.6
"Baker, Allen and Edwards",Theresa Owens,Production engineer,Whiteside,Dominica,523499,Full Time,4.8
Bullock-Carrillo,Carrie Woods,Ergonomist,New Russellton,Gabon,985290,Full Time,2.4
"Campos, Reynolds and Mccormick",Michael Edwards,Ergonomist,New Cindychester,Lao People's Democratic Republic,516950,Full Time,2.3
James and Sons,Spencer Adkins,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
"Johnston, Fleming and Tanner",Brad Scott,Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
Marshall-Holloway,David Phillips,"Radiographer, therapeutic",Kristaburgh,British Virgin Islands,58800,Full Time,0.6
Matthews Inc,Vicki Beard,Diplomatic Services operational officer,Kristaburgh,Western Sahara,777000,Full Time,3.3
Nelson-Li,Micheal Fitzgerald,Diplomatic Services operational officer,Whitakerbury,Switzerland,796690,Full Time,4.1
Nichols-James,Julie Morton,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090,Full Time,4.3
Scott Inc,Matthew Hall,Regulatory affairs officer,Wardfort,Anguilla,630890,Full Time,3.1
Taylor-Ramos,Lisa French,"Radiographer, therapeutic",West Jamesview,Kuwait,870580,Full Time,1.3
Thomas-Spencer,Gail Rose,Patent examiner,Whitakerbury,Finland,178570,Full Time,1.9
"Wallace, Smith and Shepard",Ronald Clark,Regulatory affairs officer,North Melissafurt,Palau,914110,Full Time,3.2
"White, Mcclain and Cobb",Victoria Sutton,Naval architect,Whiteside,Poland,656260,Full Time,4.9

### 113. Reset the index of the dataframe inplace and delete the older index values.

In [16]:
df.reset_index(drop=True, inplace=True)
df

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090,Full Time,4.3
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890,Full Time,3.1
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499,Full Time,4.8
...,...,...,...,...,...,...,...,...
299995,Nancy Neal,Bullock-Carrillo,Optometrist,North Melissafurt,Samoa,99670,Intern,3.3
299996,Michele Butler,"Johnston, Fleming and Tanner",Administrator,Aliciafort,Cuba,949580,Intern,2.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830,Full Time,0.6
299998,Lindsey Keith,Nichols-James,Make,Whitakerbury,Western Sahara,257240,Full Time,2.4
299999,Karen Delgado,James and Sons,Actuary,New Russellton,United Kingdom,575770,Intern,3.3

### 115-1) Add a new row at the bottom of the DataFrame.

In [17]:
newrow = {'Name': 'John', 'Age': 40, 'Gender': 'M'}
df.loc[len(df)] = newrow
df

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520.0,Full Time,3.9
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090.0,Full Time,4.3
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890.0,Full Time,3.1
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400.0,Full Time,3.1
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499.0,Full Time,4.8
...,...,...,...,...,...,...,...,...
299996,Michele Butler,"Johnston, Fleming and Tanner",Administrator,Aliciafort,Cuba,949580.0,Intern,2.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830.0,Full Time,0.6
299998,Lindsey Keith,Nichols-James,Make,Whitakerbury,Western Sahara,257240.0,Full Time,2.4
299999,Karen Delgado,James and Sons,Actuary,New Russellton,United Kingdom,575770.0,Intern,3.3
300000,John,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 115-2) Delete the row that was just newly added.

In [18]:
df = df.drop(len(df)-1)
df

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520.0,Full Time,3.9
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090.0,Full Time,4.3
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890.0,Full Time,3.1
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400.0,Full Time,3.1
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499.0,Full Time,4.8
...,...,...,...,...,...,...,...,...
299995,Nancy Neal,Bullock-Carrillo,Optometrist,North Melissafurt,Samoa,99670.0,Intern,3.3
299996,Michele Butler,"Johnston, Fleming and Tanner",Administrator,Aliciafort,Cuba,949580.0,Intern,2.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830.0,Full Time,0.6
299998,Lindsey Keith,Nichols-James,Make,Whitakerbury,Western Sahara,257240.0,Full Time,2.4
299999,Karen Delgado,James and Sons,Actuary,New Russellton,United Kingdom,575770.0,Intern,3.3

### 117. Add a new column "Employee_Rating_New" which should be as follows:

Employee_Rating_New = max(1.5, 2*Employee_Rating - 3)

In [19]:
# Adding a new column "Employee_Rating_New"
# Employee_Rating_New = max(1.5, 2*Employee_Rating - 3)

df['Employee_Rating_New'] = df['Employee_Rating'].apply(lambda x: max(1.5, 2*x - 3))

# Displaying the first few rows to confirm the addition of the new column
df.head()

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Employee_Rating_New
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520.0,Full Time,3.9,4.8
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090.0,Full Time,4.3,5.6
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890.0,Full Time,3.1,3.2
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400.0,Full Time,3.1,3.2
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499.0,Full Time,4.8,6.6

### 118. Convert the entire DataFrame to a list of lists. Do NOT overwrite to the current dataframe object.

In [20]:
df_list = df.values.tolist()
df_list

[['Spencer Adkins',
  'James and Sons',
  'Equities trader',
  'New Russellton',
  'Palestinian Territory',
  321520.0,
  'Full Time',
  3.9,
  4.8],
 ['Julie Morton',
  'Nichols-James',
  'Diplomatic Services operational officer',
  'North Melissafurt',
  'Marshall Islands',
  589090.0,
  'Full Time',
  4.3,
  5.6],
 ['Matthew Hall',
  'Scott Inc',
  'Regulatory affairs officer',
  'Wardfort',
  'Anguilla',
  630890.0,
  'Full Time',
  3.1,
  3.2],
 ['Brad Scott',
  'Johnston, Fleming and Tanner',
  'Production engineer',
  'West Jamesview',
  'Syrian Arab Republic',
  116400.0,
  'Full Time',
  3.1,
  3.2],
 ['Theresa Owens',
  'Baker, Allen and Edwards',
  'Production engineer',
  'Whiteside',
  'Dominica',
  523499.0,
  'Full Time',
  4.8,
  6.6],
 ['Vanessa Allen',
  'Andrade LLC',
  'Make',
  'Ricardomouth',
  'Mali',
  850140.0,
  'Full Time',
  2.6,
  2.2],
 ['Kelly Brown',
  'Andrade LLC',
  'Naval architect',
  'Wardfort',
  'Aruba',
  711410.0,
  'Full Time',
  2.0,
  1.5],
 ['Vicki Beard',
  'Matthews Inc',
  'Diplomatic Services operational officer',
  'Kristaburgh',
  'Western Sahara',
  777000.0,
  'Full Time',
  3.3,
  3.5999999999999996],
 ['Lisa French',
  'Taylor-Ramos',
  'Radiographer, therapeutic',
  'West Jamesview',
  'Kuwait',
  870580.0,
  'Full Time',
  1.3,
  1.5],
 ['Michael Edwards',
  'Campos, Reynolds and Mccormick',
  'Ergonomist',
  'New Cindychester',
  "Lao People's Democratic Republic",
  516950.0,
  'Full Time',
  2.3,
  1.5999999999999996],
 ['Victoria Sutton',
  'White, Mcclain and Cobb',
  'Naval architect',
  'Whiteside',
  'Poland',
  656260.0,
  'Full Time',
  4.9,
  6.800000000000001],
 ['Timothy Johnson',
  'Baker, Allen and Edwards',
  'Regulatory affairs officer',
  'Ricardomouth',
  'Georgia',
  503610.0,
  'Full Time',
  2.9,
  2.8],
 ['Tiffany Galvan',
  'Campos, Reynolds and Mccormick',
  'Diplomatic Services operational officer',
  'West Jamesview',
  'Niger',
  786430.0,
  'Intern',
  3.6,
  4.2],
 ['David Duran',
  'Nichols-James',
  'Investment banker, corporate',
  'New Russellton',
  'Georgia',
  910210.0,
  'Full Time',
  4.9,
  6.800000000000001],
 ['Julie Cook',
  'Matthews Inc',
  'Equities trader',
  'New Russellton',
  'Puerto Rico',
  328860.0,
  'Full Time',
  4.8,
  6.6],
 ['David Massey',
  'Johnston, Fleming and Tanner',
  'Radiographer, therapeutic',
  'Ricardomouth',
  'Somalia',
  581490.0,
  'Intern',
  3.7,
  4.4],
 ['Taylor Summers',
  'Campos, Reynolds and Mccormick',
  'Naval architect',
  'North Melissafurt',
  'Falkland Islands (Malvinas)',
  280650.0,
  'Full Time',
  4.2,
  5.4],
 ['Gail Rose',
  'Thomas-Spencer',
  'Patent examiner',
  'Whitakerbury',
  'Finland',
  178570.0,
  'Full Time',
  1.9,
  1.5],
 ['Carrie Woods',
  'Bullock-Carrillo',
  'Ergonomist',
  'New Russellton',
  'Gabon',
  985290.0,
  'Full Time',
  2.4,
  1.7999999999999998],
 ['Christopher Kim',
  'Thomas-Spencer',
  'Garment/textile technologist',
  'New Russellton',
  'Serbia',
  242300.0,
  'Intern',
  1.6,
  1.5],
 ['Brian Swanson',
  'Andrade LLC',
  'Regulatory affairs officer',
  'Aliciafort',
  'Libyan Arab Jamahiriya',
  262670.0,
  'Full Time',
  2.2,
  1.5],
 ['Ashley Hess',
  'Taylor-Ramos',
  'Investment banker, corporate',
  'Wardfort',
  'Netherlands',
  2990.0,
  'Intern',
  1.5,
  1.5],
 ['Carlos Lindsey',
  'Nichols-James',
  'Patent examiner',
  'Kristaburgh',
  'Jersey',
  629640.0,
  'Intern',
  0.3,
  1.5],
 ['Daniel Medina',
  'Matthews Inc',
  'Regulatory affairs officer',
  'Aliciafort',
  'Antarctica (the territory South of 60 deg S)',
  511650.0,
  'Intern',
  3.2,
  3.4000000000000004],
 ['Michael Williams',
  'Johnston, Fleming and Tanner',
  'Regulatory affairs officer',
  'Wardfort',
  'Malawi',
  705500.0,
  'Intern',
  0.7,
  1.5],
 ['David Phillips',
  'Marshall-Holloway',
  'Radiographer, therapeutic',
  'Kristaburgh',
  'British Virgin Islands',
  58800.0,
  'Full Time',
  0.6,
  1.5],
 ['Donna Rodriguez',
  'Thomas-Spencer',
  'Sales promotion account executive',
  'Whiteside',
  'Guam',
  622920.0,
  'Full Time',
  2.8,
  2.5999999999999996],
 ['Courtney Cherry',
  'Matthews Inc',
  'Sales promotion account executive',
  'Wardfort',
  'Puerto Rico',
  388970.0,
  'Full Time',
  4.3,
  5.6],
 ['Kim Reynolds',
  'Marshall-Holloway',
  'Actuary',
  'West Jamesview',
  'Faroe Islands',
  794450.0,
  'Full Time',
  1.4,
  1.5],
 ['Rodney Little',
  'James and Sons',
  'Armed forces logistics/support/administrative officer',
  'West Jamesview',
  'Indonesia',
  846180.0,
  'Full Time',
  1.8,
  1.5],
 ['Melissa Wood',
  'Thomas-Spencer',
  'Administrator',
  'New Russellton',
  'France',
  836160.0,
  'Full Time',
  3.9,
  4.8],
 ['Antonio Gomez',
  'Marshall-Holloway',
  'Radiographer, therapeutic',
  'Wardfort',
  'Anguilla',
  904930.0,
  'Intern',
  1.3,
  1.5],
 ['Gary Jackson',
  'Bullock-Carrillo',
  'Production engineer',
  'Aliciafort',
  'Macedonia',
  141250.0,
  'Full Time',
  0.0,
  1.5],
 ['Selena Moyer',
  'Baker, Allen and Edwards',
  'Trading standards officer',
  'North Melissafurt',
  'Belize',
  234370.0,
  'Full Time',
  0.4,
  1.5],
 ['Sherry Charles',
  'Scott Inc',
  'Garment/textile technologist',
  'West Jamesview',
  'El Salvador',
  787030.0,
  'Full Time',
  0.9,
  1.5],
 ['Kevin Flores',
  'Scott Inc',
  'Radiographer, therapeutic',
  'New Cindychester',
  'Congo',
  421860.0,
  'Full Time',
  1.3,
  1.5],
 ['James Cole',
  'Campos, Reynolds and Mccormick',
  'Radiographer, therapeutic',
  'Wardfort',
  'Norfolk Island',
  654770.0,
  'Full Time',
  0.0,
  1.5],
 ['Deborah Cantu',
  'Taylor-Ramos',
  'Production engineer',
  'New Russellton',
  'Kiribati',
  92600.0,
  'Full Time',
  3.7,
  4.4],
 ['Victor Miller',
  'Thomas-Spencer',
  'Patent examiner',
  'New Russellton',
  'France',
  560730.0,
  'Full Time',
  3.1,
  3.2],
 ['Jessica Reyes',
  'Thomas-Spencer',
  'Garment/textile technologist',
  'Kristaburgh',
  'Botswana',
  667490.0,
  'Full Time',
  0.7,
  1.5],
 ['Steven Cole',
  'Marshall-Holloway',
  'Retail merchandiser',
  'Kristaburgh',
  'Nicaragua',
  981230.0,
  'Full Time',
  3.6,
  4.2],
 ['Cassie Murray',
  'Scott Inc',
  'Retail merchandiser',
  'West Jamesview',
  'Poland',
  200500.0,
  'Full Time',
  3.7,
  4.4],
 ['Nancy Wright',
  'Johnston, Fleming and Tanner',
  'Actuary',
  'Ricardomouth',
  'Palau',
  916600.0,
  'Full Time',
  0.7,
  1.5],
 ['Hannah Taylor',
  'Campos, Reynolds and Mccormick',
  'Ergonomist',
  'Whiteside',
  'Western Sahara',
  251230.0,
  'Intern',
  3.3,
  3.5999999999999996],
 ['Kathleen Franco',
  'Johnston, Fleming and Tanner',
  'Diplomatic Services operational officer',
  'Ricardomouth',
  'Bolivia',
  185270.0,
  'Full Time',
  3.1,
  3.2],
 ['Ronald Clark',
  'Wallace, Smith and Shepard',
  'Regulatory affairs officer',
  'North Melissafurt',
  'Palau',
  914110.0,
  'Full Time',
  3.2,
  3.4000000000000004],
 ['Francis Carter',
  'Thomas-Spencer',
  'Diplomatic Services operational officer',
  'Whitakerbury',
  'Singapore',
  780840.0,
  'Full Time',
  0.0,
  1.5],
 ['Jessica Alvarado',
  'Taylor-Ramos',
  'Garment/textile technologist',
  'Whitakerbury',
  'Greenland',
  184410.0,
  'Full Time',
  4.1,
  5.199999999999999],
 ['Shannon Wiggins',
  'Bullock-Carrillo',
  'Investment banker, corporate',
  'Whiteside',
  'Suriname',
  880350.0,
  'Full Time',
  0.6,
  1.5],
 ['Gerald Santiago',
  'Thomas-Spencer',
  'Garment/textile technologist',
  'Kristaburgh',
  'El Salvador',
  873320.0,
  'Full Time',
  4.7,
  6.4],
 ['Ralph Taylor',
  'James and Sons',
  'Retail merchandiser',
  'Ricardomouth',
  'Tuvalu',
  482270.0,
  'Intern',
  1.9,
  1.5],
 ['Katherine Carr',
  'Baker, Allen and Edwards',
  'Optometrist',
  'New Russellton',
  'Estonia',
  610870.0,
  'Full Time',
  0.8,
  1.5],
 ['Brian Scott',
  'Thomas-Spencer',
  'Energy manager',
  'Ricardomouth',
  'Portugal',
  616430.0,
  'Full Time',
  3.3,
  3.5999999999999996],
 ['Robert Kelly',
  'Wallace, Smith and Shepard',
  'Diplomatic Services operational officer',
  'Aliciafort',
  'Yemen',
  219120.0,
  'Full Time',
  2.3,
  1.5999999999999996],
 ['Sydney Suarez',
  'Matthews Inc',
  'Make',
  'Aliciafort',
  'American Samoa',
  720620.0,
  'Full Time',
  0.8,
  1.5],
 ['Amanda Roth',
  'Taylor-Ramos',
  'Administrator',
  'North Melissafurt',
  'Macedonia',
  437720.0,
  'Full Time',
  0.7,
  1.5],
 ['Gavin Wise',
  'Marshall-Holloway',
  'Regulatory affairs officer',
  'Whiteside',
  'Netherlands Antilles',
  624990.0,
  'Intern',
  3.1,
  3.2],
 ['Joseph Anderson',
  'Bullock-Carrillo',
  'Radiographer, therapeutic',
  'Kristaburgh',
  'Bhutan',
  402290.0,
  'Intern',
  3.3,
  3.5999999999999996],
 ['Robert Villanueva',
  'Bullock-Carrillo',
  'Make',
  'North Melissafurt',
  'Guyana',
  440700.0,
  'Full Time',
  4.4,
  5.800000000000001],
 ['Paul Cox',
  'Thomas-Spencer',
  'Armed forces logistics/support/administrative officer',
  'North Melissafurt',
  'France',
  598930.0,
  'Full Time',
  2.6,
  2.2],
 ['Jessica Stewart',
  'White, Mcclain and Cobb',
  'Equities trader',
  'Whitakerbury',
  'Kiribati',
  852150.0,
  'Intern',
  3.9,
  4.8],
 ['Micheal Fitzgerald',
  'Nelson-Li',
  'Diplomatic Services operational officer',
  'Whitakerbury',
  'Switzerland',
  796690.0,
  'Full Time',
  4.1,
  5.199999999999999],
 ['Thomas Wilson',
  'Matthews Inc',
  'Diplomatic Services operational officer',
  'Whiteside',
  'New Caledonia',
  244960.0,
  'Intern',
  3.4,
  3.8],
 ['George Davidson',
  'Marshall-Holloway',
  'Optometrist',
  'New Cindychester',
  'Zimbabwe',
  425390.0,
  'Full Time',
  2.3,
  1.5999999999999996],
 ['Nathan Santiago',
  'Taylor-Ramos',
  'Administrator',
  'Aliciafort',
  'Northern Mariana Islands',
  587780.0,
  'Intern',
  3.5,
  4.0],
 ['Timothy Flores',
  'White, Mcclain and Cobb',
  'Garment/textile technologist',
  'North Melissafurt',
  'Romania',
  894970.0,
  'Full Time',
  1.1,
  1.5],
 ['Chad Guerrero',
  'Baker, Allen and Edwards',
  'Ergonomist',
  'Aliciafort',
  'Congo',
  134810.0,
  'Full Time',
  4.9,
  6.800000000000001],
 ['Claudia Morrison',
  'Scott Inc',
  'Administrator',
  'Whiteside',
  'India',
  470350.0,
  'Full Time',
  4.8,
  6.6],
 ['Justin Mclean',
  'Nelson-Li',
  'Retail merchandiser',
  'Wardfort',
  'Chad',
  143410.0,
  'Full Time',
  3.1,
  3.2],
 ['Jonathan Armstrong',
  'Scott Inc',
  'Trading standards officer',
  'Aliciafort',
  'San Marino',
  902300.0,
  'Full Time',
  4.8,
  6.6],
 ['Jason Smith',
  'Scott Inc',
  'Trading standards officer',
  'Wardfort',
  'Mozambique',
  384980.0,
  'Full Time',
  1.4,
  1.5],
 ['Daniel Charles',
  'White, Mcclain and Cobb',
  'Actuary',
  'West Jamesview',
  'Sierra Leone',
  536990.0,
  'Intern',
  1.0,
  1.5],
 ['Jose Moore',
  'Bullock-Carrillo',
  'Diplomatic Services operational officer',
  'New Cindychester',
  'Montserrat',
  684110.0,
  'Full Time',
  0.8,
  1.5],
 ['Derrick Spencer',
  'Nelson-Li',
  'Sales promotion account executive',
  'Aliciafort',
  'Holy See (Vatican City State)',
  303900.0,
  'Full Time',
  1.5,
  1.5],
 ['Robert Humphrey',
  'Marshall-Holloway',
  'Patent examiner',
  'Whiteside',
  'Togo',
  190420.0,
  'Full Time',
  1.0,
  1.5],
 ['Michelle Estrada',
  'Thomas-Spencer',
  'Energy manager',
  'Ricardomouth',
  'Saint Pierre and Miquelon',
  721880.0,
  'Full Time',
  2.1,
  1.5],
 ['Michael Conway',
  'Nichols-James',
  'Radiographer, therapeutic',
  'Wardfort',
  'Bangladesh',
  187720.0,
  'Full Time',
  0.1,
  1.5],
 ['Lori Smith',
  'Thomas-Spencer',
  'Optometrist',
  'New Cindychester',
  'Venezuela',
  687310.0,
  'Full Time',
  4.8,
  6.6],
 ['Timothy Ramos',
  'Nelson-Li',
  'Equities trader',
  'West Jamesview',
  'Congo',
  219690.0,
  'Full Time',
  0.2,
  1.5],
 ['Bradley Montgomery',
  'Wallace, Smith and Shepard',
  'Regulatory affairs officer',
  'Whiteside',
  'Iraq',
  90650.0,
  'Full Time',
  1.8,
  1.5],
 ['Jonathan Howell',
  'Nichols-James',
  'Armed forces logistics/support/administrative officer',
  'Whitakerbury',
  'Aruba',
  711330.0,
  'Full Time',
  3.6,
  4.2],
 ['William Hughes',
  'Nichols-James',
  'Administrator',
  'New Cindychester',
  'Belarus',
  16340.0,
  'Full Time',
  1.0,
  1.5],
 ['Steven Costa',
  'Taylor-Ramos',
  'Energy manager',
  'Wardfort',
  'Albania',
  314470.0,
  'Full Time',
  3.6,
  4.2],
 ['Nancy Stephens',
  'Johnston, Fleming and Tanner',
  'Ergonomist',
  'Kristaburgh',
  'Taiwan',
  430620.0,
  'Full Time',
  2.9,
  2.8],
 ['Lauren Barton',
  'Baker, Allen and Edwards',
  'Make',
  'New Cindychester',
  'Pakistan',
  789140.0,
  'Full Time',
  2.2,
  1.5],
 ['Dawn Lewis',
  'Campos, Reynolds and Mccormick',
  'Optometrist',
  'Whitakerbury',
  'Suriname',
  270840.0,
  'Intern',
  2.2,
  1.5],
 ['Wanda Jones',
  'White, Mcclain and Cobb',
  'Regulatory affairs officer',
  'Kristaburgh',
  'Libyan Arab Jamahiriya',
  848140.0,
  'Intern',
  0.2,
  1.5],
 ['Brittany Graham',
  'Matthews Inc',
  'Diplomatic Services operational officer',
  'Kristaburgh',
  'Ethiopia',
  123700.0,
  'Full Time',
  2.3,
  1.5999999999999996],
 ['Julie Richard',
  'Bullock-Carrillo',
  'Naval architect',
  'Wardfort',
  'Burundi',
  222850.0,
  'Full Time',
  4.6,
  6.199999999999999],
 ['Janet Bridges',
  'Thomas-Spencer',
  'Optometrist',
  'Whitakerbury',
  'Wallis and Futuna',
  745150.0,
  'Full Time',
  1.1,
  1.5],
 ['Willie Anderson',
  'Andrade LLC',
  'Garment/textile technologist',
  'Kristaburgh',
  'Tuvalu',
  268320.0,
  'Full Time',
  0.2,
  1.5],
 ['Diamond Kent',
  'Wallace, Smith and Shepard',
  'Radiographer, therapeutic',
  'Aliciafort',
  'Zambia',
  538290.0,
  'Full Time',
  2.0,
  1.5],
 ['Kevin Miller',
  'Bullock-Carrillo',
  'Investment banker, corporate',
  'New Russellton',
  'Saint Pierre and Miquelon',
  493800.0,
  'Full Time',
  4.4,
  5.800000000000001],
 ['Sierra Brewer',
  'Thomas-Spencer',
  'Naval architect',
  'New Russellton',
  'Saint Pierre and Miquelon',
  127940.0,
  'Full Time',
  1.2,
  1.5],
 ['Natasha Harmon',
  'Matthews Inc',
  'Radiographer, therapeutic',
  'West Jamesview',
  'Bolivia',
  790000.0,
  'Full Time',
  4.7,
  6.4],
 ['Angela Stone',
  'Wallace, Smith and Shepard',
  'Actuary',
  'New Russellton',
  'Switzerland',
  313250.0,
  'Full Time',
  1.3,
  1.5],
 ['Anthony Weiss',
  'Scott Inc',
  'Armed forces logistics/support/administrative officer',
  'West Jamesview',
  'Guatemala',
  356220.0,
  'Full Time',
  1.8,
  1.5],
 ['Renee Benson',
  'Thomas-Spencer',
  'Investment banker, corporate',
  'Wardfort',
  'Thailand',
  171820.0,
  'Full Time',
  3.6,
  4.2],
 ['Elizabeth Clements',
  'Taylor-Ramos',
  'Administrator',
  'Whiteside',
  'Mauritania',
  827360.0,
  'Full Time',
  2.9,
  2.8],
 ['Jeanette Wang',
  'Baker, Allen and Edwards',
  'Actuary',
  'Whiteside',
  'New Zealand',
  339100.0,
  'Full Time',
  1.2,
  1.5],
 ['Tracy Maxwell',
  'Matthews Inc',
  'Sales promotion account executive',
  'New Russellton',
  'Oman',
  742410.0,
  'Full Time',
  0.5,
  1.5],
 ['James Alvarez',
  'Bullock-Carrillo',
  'Equities trader',
  'Kristaburgh',
  'Grenada',
  220440.0,
  'Intern',
  2.1,
  1.5],
 ['Stacy Smith',
  'Bullock-Carrillo',
  'Patent examiner',
  'Kristaburgh',
  'Israel',
  666680.0,
  'Full Time',
  0.0,
  1.5],
 ['Jennifer Daniels',
  'White, Mcclain and Cobb',
  'Equities trader',
  'West Jamesview',
  'Congo',
  130740.0,
  'Full Time',
  2.8,
  2.5999999999999996],
 ['Jose Thompson',
  'Scott Inc',
  'Actuary',
  'Whitakerbury',
  'Sweden',
  121110.0,
  'Intern',
  1.2,
  1.5],
 ['Mary Bailey',
  'Baker, Allen and Edwards',
  'Diplomatic Services operational officer',
  'Wardfort',
  'Sierra Leone',
  142620.0,
  'Intern',
  0.8,
  1.5],
 ['Susan Moses',
  'Johnston, Fleming and Tanner',
  'Make',
  'Aliciafort',
  "Cote d'Ivoire",
  196070.0,
  'Full Time',
  1.8,
  1.5],
 ['Kathryn Sweeney',
  'Campos, Reynolds and Mccormick',
  'Make',
  'New Russellton',
  'Madagascar',
  489190.0,
  'Intern',
  0.3,
  1.5],
 ['Frank Torres',
  'Campos, Reynolds and Mccormick',
  'Trading standards officer',
  'Whitakerbury',
  'Sierra Leone',
  693190.0,
  'Intern',
  2.9,
  2.8],
 ['James Wright',
  'Wallace, Smith and Shepard',
  'Energy manager',
  'Ricardomouth',
  'Chad',
  79790.0,
  'Full Time',
  3.1,
  3.2],
 ['Donald Nelson',
  'Campos, Reynolds and Mccormick',
  'Trading standards officer',
  'West Jamesview',
  'Estonia',
  37280.0,
  'Full Time',
  2.0,
  1.5],
 ['Daniel Adams',
  'Bullock-Carrillo',
  'Investment banker, corporate',
  'New Cindychester',
  'San Marino',
  339250.0,
  'Full Time',
  2.7,
  2.4000000000000004],
 ['Crystal Brown',
  'Johnston, Fleming and Tanner',
  'Garment/textile technologist',
  'Whitakerbury',
  'Romania',
  919880.0,
  'Full Time',
  4.5,
  6.0],
 ['Judy Roberts',
  'Campos, Reynolds and Mccormick',
  'Ergonomist',
  'Whitakerbury',
  'Northern Mariana Islands',
  45560.0,
  'Full Time',
  3.6,
  4.2],
 ['Jeremiah Kelly',
  'Scott Inc',
  'Make',
  'West Jamesview',
  'Anguilla',
  155360.0,
  'Intern',
  4.9,
  6.800000000000001],
 ['Gary Hernandez',
  'Taylor-Ramos',
  'Radiographer, therapeutic',
  'New Russellton',
  'Solomon Islands',
  888730.0,
  'Intern',
  2.5,
  2.0],
 ['Annette Saunders',
  'Marshall-Holloway',
  'Ergonomist',
  'New Cindychester',
  'Monaco',
  684380.0,
  'Full Time',
  2.6,
  2.2],
 ['Jacob Cunningham',
  'James and Sons',
  'Patent examiner',
  'Aliciafort',
  'Latvia',
  876760.0,
  'Intern',
  3.8,
  4.6],
 ['Stacey Ellison',
  'Baker, Allen and Edwards',
  'Radiographer, therapeutic',
  'West Jamesview',
  'Hungary',
  393820.0,
  'Full Time',
  3.5,
  4.0],
 ['Jason Parrish',
  'Andrade LLC',
  'Garment/textile technologist',
  'Aliciafort',
  "Cote d'Ivoire",
  581130.0,
  'Full Time',
  4.7,
  6.4],
 ['Pamela Martinez',
  'James and Sons',
  'Garment/textile technologist',
  'Whiteside',
  'Dominican Republic',
  587360.0,
  'Intern',
  3.6,
  4.2],
 ['Christine Harrison',
  'James and Sons',
  'Trading standards officer',
  'West Jamesview',
  'Namibia',
  684820.0,
  'Intern',
  1.1,
  1.5],
 ['Joanna Mclean',
  'Andrade LLC',
  'Actuary',
  'North Melissafurt',
  'Kuwait',
  108980.0,
  'Full Time',
  2.0,
  1.5],
 ['Kyle Rogers',
  'Baker, Allen and Edwards',
  'Patent examiner',
  'Whitakerbury',
  'Tuvalu',
  931250.0,
  'Full Time',
  1.1,
  1.5],
 ['Joshua Huffman',
  'James and Sons',
  'Garment/textile technologist',
  'New Russellton',
  'Cook Islands',
  694760.0,
  'Full Time',
  5.0,
  7.0],
 ['Michael Gonzalez',
  'Bullock-Carrillo',
  'Naval architect',
  'West Jamesview',
  'Sweden',
  302110.0,
  'Full Time',
  0.7,
  1.5],
 ['Michael Morgan',
  'Wallace, Smith and Shepard',
  'Investment banker, corporate',
  'Wardfort',
  'Saint Kitts and Nevis',
  178380.0,
  'Full Time',
  0.4,
  1.5],
 ['Matthew Wright',
  'Bullock-Carrillo',
  'Energy manager',
  'Whiteside',
  'El Salvador',
  626340.0,
  'Intern',
  2.3,
  1.5999999999999996],
 ['Courtney Schneider',
  'Nichols-James',
  'Regulatory affairs officer',
  'Whitakerbury',
  'Sri Lanka',
  750440.0,
  'Full Time',
  1.4,
  1.5],
 ['Connie Coleman',
  'Andrade LLC',
  'Optometrist',
  'Kristaburgh',
  'Indonesia',
  899260.0,
  'Full Time',
  4.7,
  6.4],
 ['Brandon Casey',
  'Wallace, Smith and Shepard',
  'Make',
  'New Cindychester',
  'Sudan',
  590560.0,
  'Intern',
  0.1,
  1.5],
 ['Tina Jenkins',
  'Scott Inc',
  'Investment banker, corporate',
  'North Melissafurt',
  'Malaysia',
  100420.0,
  'Full Time',
  4.1,
  5.199999999999999],
 ['Trevor Wilson',
  'Baker, Allen and Edwards',
  'Optometrist',
  'Aliciafort',
  'Andorra',
  661420.0,
  'Full Time',
  4.9,
  6.800000000000001],
 ['Morgan Shaw',
  'Matthews Inc',
  'Patent examiner',
  'Whiteside',
  'Egypt',
  523320.0,
  'Intern',
  3.3,
  3.5999999999999996],
 ['Angela Hatfield',
  'Campos, Reynolds and Mccormick',
  'Regulatory affairs officer',
  'Wardfort',
  'Turkey',
  989380.0,
  'Full Time',

### 120. Rearrange the columns in the below order. Overwrite to the current DataFrame object.

In [ ]:
new_order = ["Name", "Employee_Job_Title", "Company_Name",
             "Employee_City", "Employee_Country", "Employment_Status",
             "Employee_Salary", "Employee_Rating", "Employee_Rating_New"]

### 123. Drop the 'Name' column inplace from the DataFrame.

,Employee_Job_Title,Company_Name,Employee_City,Employee_Country,Employment_Status,Employee_Salary,Employee_Rating,Employee_Rating_New
0,Equities trader,James and Sons,New Russellton,Palestinian Territory,Full Time,321520,3.9,4.8
1,Diplomatic Services operational officer,Nichols-James,North Melissafurt,Marshall Islands,Full Time,589090,4.3,5.6
2,Regulatory affairs officer,Scott Inc,Wardfort,Anguilla,Full Time,630890,3.1,3.2
3,Production engineer,"Johnston, Fleming and Tanner",West Jamesview,Syrian Arab Republic,Full Time,116400,3.1,3.2
4,Production engineer,"Baker, Allen and Edwards",Whiteside,Dominica,Full Time,523499,4.8,6.6
...,...,...,...,...,...,...,...,...
299996,Administrator,"Johnston, Fleming and Tanner",Aliciafort,Cuba,Intern,949580,2.6,2.2
299997,Administrator,Nichols-James,New Cindychester,Bolivia,Full Time,802830,0.6,1.5
299998,Make,Nichols-James,Whitakerbury,Western Sahara,Full Time,257240,2.4,1.8
299999,Actuary,James and Sons,New Russellton,United Kingdom,Intern,575770,3.3,3.6
300000,Production engineer,Scott Inc,Wardfort,Anguilla,Full Time,343930,3.3,3.6

### 126. Rename the columns and store to a new DataFrame 'df_renamed':

1. Employee_Rating -> Rating
2. Employee_Country -> Country
3. Employee_Salary -> Salary
4. Employee_Rating_New -> Rating_New
5. Employment_Status -> Employment_type
6. Employment_City -> City

### 128. Count the number of NaN values in each column

Employee_Job_Title     0
Company_Name           0
Employee_City          0
Employee_Country       0
Employment_Status      0
Employee_Salary        0
Employee_Rating        0
Employee_Rating_New    0
dtype: int64

### 131.  Map every Company_Name to a unique integer value. Name the new column "Company_ID".

For instance, if the data has 5 companies, "Company A" -> 1, "Company B" -> 2, "Company C" -> 3, "Company D" -> 4, "Company E" -> 5.

### 133. Print the number of rows where 'City' belongs to the following list of cities.

Use the isin() method.

In [ ]:
city_filter_list = ["New Russellton", "Whiteside", "Kristaburgh"]

row_count =
print(row_count)

90054

### 135. Print the name of the person with the 10th largest salary. If there are multiple people with the same salary, print all names.

array(['Allen Chavez', 'David Ryan', 'Elizabeth Bell', 'Megan Petersen'],
      dtype=object)

### 136. Print a cross tabulation of Company Name and Employment Type.

Employment_Status               Full Time  Intern
Company_Name
Andrade LLC                         15964    4019
Baker, Allen and Edwards            16118    3966
Bullock-Carrillo                    16135    3928
Campos, Reynolds and Mccormick      15930    3997
James and Sons                      15888    3980
Johnston, Fleming and Tanner        15832    3979
Marshall-Holloway                   15871    3988
Matthews Inc                        16082    4001
Nelson-Li                           16027    4105
Nichols-James                       15872    4039
Scott Inc                           16396    3994
Taylor-Ramos                        16086    4036
Thomas-Spencer                      16037    4105
Wallace, Smith and Shepard          15467    3897
White, Mcclain and Cobb             16305    3956

### 143-145. Print the 25th, 50th and 75th percentile of the Salary column

25%    250000.0
50%    500780.0
75%    749710.0
Name: Employee_Salary, dtype: float64

### 147. Distribute the Salary column in 10 equal sized bins and label each bin from 1 to 10 and add a new column named "Labels"

# Pandas Notebook 4

### 151. Sort DataFrame based on another list

In [21]:
import pandas as pd

In [22]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], columns=["col1", "col2"])

sort_list = ["C", "A", "D", "B"]

# start your code below
new_df = df.set_index('col1').loc[sort_list].reset_index()
# end your code here
print(new_df)

  col1  col2
0    C     3
1    A     1
2    D     4
3    B     2

### 152. Insert a column at a specific location in a DataFrame with a name, "new_column"

In [23]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

new_column = ["P", "Q", "R", "S"]
insert_position = 1 ## between col_A and col_B

## start your code below
df.insert(insert_position, "new_column", new_column)


## end your code here
df

  col_A new_column  col_B
0     A          P      1
1     B          Q      2
2     C          R      3
3     D          S      4

### 154. Count the number of Non-NaN cells for each column

In [24]:
import numpy as np

In [25]:
df = pd.DataFrame([["A", np.NaN], [np.NaN, 2],
                   ["C", np.NaN], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below
df.count()

## end your code here

col_A    3
col_B    2
dtype: int64

### 156. Reverse DataFrame row-wise

In [26]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below
df = df[::-1]
## end our code here
df

  col_A  col_B
3     D      4
2     C      3
1     B      2
0     A      1

### 157. Reverse DataFrame column-wise

In [27]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below
df = df.iloc[:, ::-1]
df
## end your code here

   col_B col_A
0      1     A
1      2     B
2      3     C
3      4     D

### 158. Insert a row at an arbitrary position

In [28]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

insert_pos = 1
insert_row = ["P", 5]

## start your code below
df.loc[len(df)] = [np.nan, np.nan]
df.loc[insert_position + 1:] = df.loc[insert_position:].shift(1)
df.loc[insert_position] = insert_row
df.reset_index(drop=True, inplace=True)
## end your code here
df

  col_A  col_B
0     A    1.0
1     P    5.0
2     B    2.0
3     C    3.0
4     D    4.0

### 160. The cumulative sum of a column in DataFrame

In [29]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], columns=["col_A", "col_B"])

## start your code below
df['Cumulative_Sum'] = df['col_B'].cumsum()
new_df = df
## end your code here

new_df

  col_A  col_B  Cumulative_Sum
0     A      1               1
1     B      2               3
2     C      3               6
3     D      4              10

### 165. Filter n-largest values from a DataFrame

In [30]:
df = pd.DataFrame([["A", 200], ["B", 400],
                   ["C", 100], ["D", 300]],
                  columns=["col_A", "col_B"])

k = 2

## start your code below
largest_k = df.nlargest(k, 'col_B')

## end your code here

largest_k

  col_A  col_B
1     B    400
3     D    300

### 169. Delete the rows that have NaN values

In [31]:
df = pd.DataFrame([["A", np.NaN], ["B", 2],
                   ["C", np.NaN], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below

df = df.dropna()
## end your code here

print(df)

  col_A  col_B
1     B    2.0
3     D    4.0

### 171. Fill NaN values with column mean

In [32]:
df = pd.DataFrame([["A", np.NaN], ["B", 2],
                   ["C", np.NaN], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below
df = df.fillna(df['col_B'].mean())

## end your code here

print(df)

  col_A  col_B
0     A    3.0
1     B    2.0
2     C    3.0
3     D    4.0

### 173. Swap two rows of a dataframe

In [33]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

# swap second and last row
row_1, row_2 = 1, 3

## start your code below
instance = df.iloc[row_1].copy()
df.iloc[row_1] = df.iloc[row_2]
df.iloc[row_2] = instance


## end your code here

print(df)

  col_A  col_B
0     A      1
1     D      4
2     C      3
3     B      2

### 174. Create a column "col_D" that contains the 2nd largest value in each row

In [34]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 2, 9],
                   [2, 9, 3],
                   [8, 5, 4]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below

df['col_D'] = df.apply(lambda row: row.nlargest(2).iloc[1], axis=1)

# end your code here

df

   col_A  col_B  col_C  col_D
0      4      1      5      4
1      5      2      9      5
2      2      9      3      3
3      8      5      4      5

### 176. Get the Group "A" of the dataframe by first grouping the dataframe and then using the group key.

In [35]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["A", 3], ["D", 4]],
                  columns=["col_A", "col_B"])


## start your code below
grouped_df = df.groupby('col_A')
group_A = grouped_df.get_group('A')
group_A

## end your code here

group_A

  col_A  col_B
0     A      1
2     A      3

### 178. Get the rows where the value of "col_A" is equal to "col_B".

In [36]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below

new_df = df[df['col_A'] == df['col_B']]


## end your code here

print(new_df)

   col_A  col_B  col_C
1      5      5      9

### 180. Sort the Data on col_A and col_B

col_A -> Ascending
col_B -> Descending

In [37]:
df = pd.DataFrame([[4, 1, 5],
                   [2, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = df.sort_values(by=['col_A', 'col_B'], ascending=[True, False])


## end your code here

print(new_df)

   col_A  col_B  col_C
2      2      9      3
1      2      5      9
0      4      1      5
3      8      5      8

### 182. Get the mean of every column

In [38]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below

mean = df.mean()

## end your code here

print(mean)

col_A    4.75
col_B    5.00
col_C    6.25
dtype: float64

### 182. Get the mean of every row

In [39]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
mean = df.mean(axis=1)

## end your code here

print(mean)

0    3.333333
1    6.333333
2    4.666667
3    7.000000
dtype: float64

### 183. Concatentate the two DataFrames row-wise

In [40]:
df1 = pd.DataFrame([["A", 1], ["B", 2]],
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]],
                  columns=["col_A", "col_B"])

## start your code below
new_df = pd.concat([df1, df2], ignore_index=True)

## end your code here

print(new_df)

  col_A  col_B
0     A      1
1     B      2
2     A      3
3     C      4

### 184. Concatentate the two DataFrames column-wise

In [41]:
df1 = pd.DataFrame([["A", 1], ["B", 2]],
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]],
                  columns=["col_C", "col_D"])

## start your code below
new_df = pd.concat([df1, df2], axis=1)


## end your code here

print(new_df)

  col_A  col_B col_C  col_D
0     A      1     A      3
1     B      2     C      4

### 185. Change the last two values in the last column to [2,4]

Change 3 -> 2
Change 8 -> 4

**Note: You should do this in a single line of code**

In [42]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
df.iloc[-2:, -1] = [2, 4]


## end your code here

print(df)

   col_A  col_B  col_C
0      4      1      5
1      5      5      9
2      2      9      2
3      8      5      4

### 186. Replace all '1' with '2'

In [43]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
df = df.replace(1, 2)


## end your code here

print(df)

   col_A  col_B  col_C
0      4      2      5
1      5      5      2
2      2      9      3
3      8      5      8

### 187. Replace all '1' with '2' and '5' with '6' in a single line of code

In [44]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below

df = df.replace([1, 5], [2, 3])
## end your code here

print(df)

   col_A  col_B  col_C
0      4      2      3
1      3      3      2
2      2      9      3
3      8      3      8

### 189. Convert the DataFrame to a list of lists. Don't include the header row.

In [45]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
data_list = df.values[0:].tolist()

## end your code here

print(data_list)

[[4, 1, 5], [5, 5, 1], [1, 9, 3], [8, 5, 8]]

### 190. Add three new columns that show the cumulative sum of every column

In [46]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below

df_cumsum = df.cumsum()
df_cumsum.columns = [col + '_cumsum' for col in df_cumsum.columns]
df = pd.concat([df, df_cumsum], axis=1)

## end your code here

print(df)

   col_A  col_B  col_C  col_A_cumsum  col_B_cumsum  col_C_cumsum
0      4      1      5             4             1             5
1      5      5      1             9             6             6
2      1      9      3            10            15             9
3      8      5      8            18            20            17

### 191. Print the cumulative sum of every row in a new column.

### In other words, make a column that stores the cumulative sum of the (sum of every row).

In [47]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
df['Cumulative_Sum'] = df.sum(axis=1).cumsum()
df['Real)CUMSUM'] = df.sum(axis=1).cumsum()

## end your code here

print(df)

   col_A  col_B  col_C  Cumulative_Sum  Real)CUMSUM
0      4      1      5              10           20
1      5      5      1              21           52
2      1      9      3              34           99
3      8      5      8              55          175

### 194. GroupBy col_A, then find the sum of col_B and mean of col_C

In [48]:
df = pd.DataFrame([["A", 1, 5],
                   ["B", 5, 1],
                   ["C", 9, 3],
                   ["A", 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
grouped_df = df.groupby('col_A').agg({'col_B': 'sum', 'col_C': 'mean'})
print(grouped_df)
## end your code here

       col_B  col_C
col_A
A          6    6.5
B          5    1.0
C          9    3.0

### 195. Find the correlation between every pair of column

In [49]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
correlation_matrix = df.corr()

## end your code here

print(correlation_matrix)

          col_A     col_B     col_C
col_A  1.000000 -0.424264  0.599377
col_B -0.424264  1.000000 -0.273434
col_C  0.599377 -0.273434  1.000000

### 198. Merge the two dataframes using the join() method on col_A.
Ï∞∏Í≥†) Note that the `join()` method is similar to the `merge()` method, but it operates on the index by default and has a simplified syntax.

In [50]:
df1 = pd.DataFrame([["A", 1], ["B", 2]],
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]],
                  columns=["col_A", "col_C"])

## start your code below
new_df = df1.join(df2.set_index('col_A'), on='col_A')

# end your code here

new_df

  col_A  col_B  col_C
0     A      1    3.0
1     B      2    NaN

### 199. Perform the full outer join on the two DataFrames.

In [51]:
df1 = pd.DataFrame([["A", 1], ["B", 2]],
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]],
                  columns=["col_A", "col_C"])

## start your code below
new_df = pd.merge(df1, df2, on='col_A', how='outer')


## end your code here

print(new_df)

  col_A  col_B  col_C
0     A    1.0    3.0
1     B    2.0    NaN
2     C    NaN    4.0

### 200. Convert the DataFrame to a dictionary.

In [52]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
dict_df = df.to_dict()

## end your code here

dict_df

{'col_A': {0: 4, 1: 5, 2: 1, 3: 8},
 'col_B': {0: 1, 1: 5, 2: 9, 3: 5},
 'col_C': {0: 5, 1: 1, 2: 3, 3: 8}}

### ÎÅù.
### Í≥†ÏÉùÌïòÏÖ®ÏäµÎãàÎã§.